<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">
    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
</head>
<body>
<section id="todoapp">
    <header class="header">
        <div id="navbar">
        	<h1>ToDo List</h1>
        </div>
        <form id="new-todo-form" th:action="@{/}" method="post" th:object="${item}">
            <input id="new-todo-input" class="new-todo" placeholder="What needs to be done?" autofocus
            	   required
                   th:field="*{title}"
                   name="title"
                   hx-target="#todo-list"
                   hx-swap="beforeend"
                   hx-post="/"
                   hx-trigger="keyup[key=='Enter']"
                   autocomplete="false"
                   >
        </form>
    </header>
    <section id="main-section" class="main"  th:classappend="${totalNumberOfItems == 0?'hidden':''}">
        <div id="buttons">
	        <form th:action="@{/toggle-all}" th:method="put" >
	            <button id="toggle-all" 
		            class="toggle-all" 
		            type="checkbox"
		            hx-trigger="click"
	               	hx-swap="outerHTML"
	                   onclick="this.form.requestSubmit()">
	                   Toggle all
	             </button>
	        </form>
	                <form th:action="@{/completed}" th:method="delete">
	            <button id="clear-completed">Clear completed</button>
	        </form>
        </div>
        <ul id="todo-list" class="todo-list">
            <li th:insert="~{todoitem-fragment::todoItem(${item})}" th:each="item : ${todos}" th:remove="tag">
            </li>
        </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer id="main-footer" class="footer"  th:classappend="${totalNumberOfItems == 0?'hidden':''}">
        <!-- This should be `0 items left` by default -->
        <span th:replace="active-item-count-fragment :: active-items-count"></span>
        <div class="filters">
        	<a class="filter" th:href="@{/}"
                   th:classappend="${filter.name() == 'ALL'?'selected':''}">All</a>
            <a class="filter" th:href="@{/active}"
                   th:classappend="${filter.name() == 'ACTIVE'?'selected':''}">Active</a>
            <a class="filter" th:href="@{/completed}"
                   th:classappend="${filter.name() == 'COMPLETED'?'selected':''}">Completed</a>
        </div>
    </footer>
</section>
<!-- Scripts here. Don't remove ↓ -->
<script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
<script>
    htmx.on('#new-todo-input', 'htmx:afterRequest', function (event) { 
        event.detail.elt.value = ''; 
    });
    document.getElementById('new-todo-form').addEventListener('submit', function (event) {
        event.preventDefault();
    });
    htmx.on('htmx:afterSwap', function (event) { 
        let items = document.querySelectorAll('#todo-list li'); 
        let mainSection = document.getElementById('main-section');
        let mainFooter = document.getElementById('main-footer');

        if (items.length > 0) { 
            mainSection.classList.remove('hidden');
            mainFooter.classList.remove('hidden');
        } else {
            mainSection.classList.add('hidden');
            mainFooter.classList.add('hidden');
        }
    });
</script>
</body>
</html>