html, body {
	margin: 0;
	padding: 0;
	font-family: 'Atkinson Hyperlegible';
	background-color: #030711;
	color: #7f8ea3;
}

#todoapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
    color: #e1e7ef;
}

#navbar {
	position: sticky;
	top:0;
	padding:20px;
}

.new-todo {
    width: 400px;
    height: 30px;
    font-size: 24px;
    padding: 10px;
    border: 3px solid #1d283a;
    border-radius: 4px;
    background-color: #030711;
    color: #7f8ea3;
    font-family: 'Atkinson Hyperlegible';
}

.new-todo:focus {
    outline: none !important;
    background-color: #1d283a;
}

.main {
    text-align: center;
    margin-bottom: 20px;
   	background-color: #030711;
   	width: 420px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    width: 420px;
    height: 100%;
}

.view {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
	margin: 1% 0;
}

.footer {
    text-align: center;
}


.filters li {
    display: inline;
    margin: 0 5px;
}

#clear-completed {
    display: inline-block;
    padding: 5px 10px;
    background-color: #dc2626;
    border: none;
    color: #e1e7ef;
    border-radius: 4px;
    cursor: pointer;
}

#toggle-all {
    display: inline-block;
    padding: 5px 10px;
    background-color: #005cc8;
    border: none;
    color: #e1e7ef;
    border-radius: 4px;
    cursor: pointer;
}


.destroy {
	font-size: 16px;
	background-color: #030711;
	color: #dc2626;
	outline:none;
	border:0 none;
	cursor:pointer;
}

#buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.toggle {
	width: 16px;
    height: 16px;
    border: none;
    border-radius: 4px;
}

.hidden {
	display: none !important;
}


.filters {
	margin-top: 25px;
	display: flex;
    justify-content: space-between;
    gap: 25px;
}

.filter {
	box-sizing: border-box;
	text-align: center;
	background-color: #0d1324;
	color: #e1e7ef;
	width: 7.5em;
	line-height: 1.5em;
	height: 1.8em;
	border-radius: 15px;
	text-decoration: none;
}

.selected {
	border: 3px solid #ffffff;
}